{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}"  rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS -->


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->


    <nav>
        <div class="nav-wrapper container col s8 m8 l8">
          <!--<a href="#!" class="brand-logo">Logo</a>-->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="hide-on-med-and-down">
            <li><a href="{% url 'app:index' %}">首页</a></li>
            <li><a href="{% url 'app:about' %}">关于</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'app:index' %}">首页</a></li>
            <li><a href="{% url 'app:about' %}">关于</a></li>
          </ul>
        </div>
    </nav>

    <!-- Page Content -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Jlan
        <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->

    <script>
        $( document ).ready(function() {
            $(".button-collapse").sideNav();
        })
    </script>
</body>
</html>

