{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}"  rel="stylesheet">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <title>我的博客</title>
</head>
<body>

    <header class="page-header">
      <nav>
        <div class="nav-wrapper container col s8 m8 l8">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down">
                <li {% ifequal request.path '/' %} class="active"{% endifequal %}><a href="{% url 'index' %}">首页</a></li>
                <li {% ifequal request.path '/about/' %} class="active"{% endifequal %}><a
                        href="{% url 'about' %}">关于</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li {% ifequal request.path '/' %} class="active"{% endifequal %}><a href="{% url 'index' %}">首页</a></li>
                <li {% ifequal request.path '/about/' %} class="active"{% endifequal %}><a
                        href="{% url 'about' %}">关于</a>
                </li>
            </ul>
        </div>
      </nav>
    </header>

    <div>
        {% block section %}
        {% endblock %}
    </div>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Copyright Jlan
        </div>
      </div>
    </footer>

</body>
</html>