{% extends 'base.html' %}
{% load staticfiles %}

{% block section %}
    <section class="category-list container col s8 m8 l8 ">
        <div class="row">
            <section class="col s9 m9 l9 push-s9 article-list-left">
                <ul>
                    {% for archive in archive_list %}
                        <li>
                            <span>{{ archive.created_time|date:"Y-m-d H:i" }}</span>
                            <a href="{% url 'article' archive.url %}">{{ archive.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $(".button-collapse").sideNav();
    </script>
{% endblock %}